# Assignment Set 1 Answers - Introduction to Pandas

In [1]:
import pandas as pd

### Q1. Create a pandas series from each of the items below: a list, numpy and a dictionary.

In [2]:
# Input
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [5]:
mylist_ser = pd.Series(mylist)
mylist_ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [6]:
myarr_ser = pd.Series(myarr)
myarr_ser

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

In [8]:
mydict_ser = pd.Series(mydict)
mylist_ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

### Q2. Combine ser1 and ser2 to form a dataframe.

In [3]:
# Input
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [10]:
df = {
    '1':ser1,
    '2':ser2
}
df

{'1': 0     a
 1     b
 2     c
 3     e
 4     d
 5     f
 6     g
 7     h
 8     i
 9     j
 10    k
 11    l
 12    m
 13    n
 14    o
 15    p
 16    q
 17    r
 18    s
 19    t
 20    u
 21    v
 22    w
 23    x
 24    y
 25    z
 dtype: object, '2': 0      0
 1      1
 2      2
 3      3
 4      4
 5      5
 6      6
 7      7
 8      8
 9      9
 10    10
 11    11
 12    12
 13    13
 14    14
 15    15
 16    16
 17    17
 18    18
 19    19
 20    20
 21    21
 22    22
 23    23
 24    24
 25    25
 dtype: int64}

In [13]:
import pandas as pd
pd.DataFrame(df)

    1   2
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25